# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosytem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries by Data Scientist
- Create an arithmetic expression

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientist include:
1. NumPy
2. Matplotlib
3. Seaborn

|Data Science Tools|
| ------ |
| Jupyter Notebooks |
| RStudio |
| Jupyter Labs |

### Below are a few examples of evaluating arithmetic expressions in Pythong

In [2]:
# This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Andy Bernabe